        <div id="my-projects">
            <h1>
                Projects
            </h1>
            <p>
                These are all the projects I have been a part of and contributed to
            </p>
            <div class="project">
                <img src="images/project_images/delikat_flora.jpg" alt="" class="project-image">
                <div class="box-content">
                    <p>
                        Delikat Flora
                    </p>
                    <h4>
                        2025
                    </h4>
                    A database driven website for a fictional flower boutique with large focus on their flower delivery service <br> <br>
                    <div class="used-tools">
                        <img src="images/svgs/py.svg" alt="" class="svg">
                        <!-- svg icon from https://www.svgrepo.com/svg/452091/python. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                        <img src="images/svgs/html.svg" alt="" class="svg">
                        <!-- svg icon from https://www.svgrepo.com/svg/452228/html-5. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                        <img src="images/svgs/css.svg" alt="" class="svg">
                        <!-- svg icon from https://www.svgrepo.com/svg/373535/css. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                        <img src="images/svgs/js.svg" alt="" class="svg">
                        <!-- svg icon from https://www.svgrepo.com/svg/349419/javascript. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                        <img src="images/svgs/expressjs.svg" alt="" class="svg">
                        <img src="images/svgs/supabase.svg" alt="" class="svg">
                    </div>
                    <div class="links">
                        <a href="https://github.com/NTIG-Uppsala/Delikat-Flora" target="_blank"><img src="images/svgs/github.svg" alt="" class="svg"></a>
                        <!-- svg icon from https://www.svgrepo.com/svg/521688/github. CC-BY license. https://www.svgrepo.com/page/licensing/#CC%20Attribution -->
                        <a href="https://delikat.ntig.dev/" target="_blank"><img src="images/svgs/open_link.svg" alt="" class="svg"></a>
                    </div>
                </div>
            </div>
            <div class="project">
                <img src="images/project_images/fjellporten.jpg" alt="" class="project-image">
                <div class="box-content">
                    <p>
                        Fjellporten
                    </p>
                    <h4>
                        2025
                    </h4>
                    A database driven website for a fictional car-rental company<br> <br>
                    <div class="used-tools">
                        <img src="images/svgs/py.svg" alt="" class="svg">
                        <!-- svg icon from https://www.svgrepo.com/svg/452091/python. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                        <img src="images/svgs/html.svg" alt="" class="svg">
                        <!-- svg icon from https://www.svgrepo.com/svg/452228/html-5. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                        <img src="images/svgs/css.svg" alt="" class="svg">
                        <!-- svg icon from https://www.svgrepo.com/svg/373535/css. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                        <img src="images/svgs/js.svg" alt="" class="svg">
                        <!-- svg icon from https://www.svgrepo.com/svg/349419/javascript. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                        <img src="images/svgs/expressjs.svg" alt="" class="svg">
                        <img src="images/svgs/supabase.svg" alt="" class="svg">
                    </div>
                    <div class="links">
                        <a href="https://github.com/NTIG-Uppsala/Fjellporten" target="_blank"><img src="images/svgs/github.svg" alt="" class="svg"></a>
                        <!-- svg icon from https://www.svgrepo.com/svg/521688/github. CC-BY license. https://www.svgrepo.com/page/licensing/#CC%20Attribution -->
                        <a href="https://fjellporten.ntig.dev/" target="_blank"><img src="images/svgs/open_link.svg" alt="" class="svg"></a>
                    </div>
                </div>
            </div>
        </div>