/* variables */
:root {
    --colorPrimary: #0b111a;
    --colorPrimarySecondary: #0e0729d2;
    --colorPrimaryTertiary: #211f31;
    --colorSecondary: #def1ff;
    --colorBlue: #2559e7b4;
    --colorRed: #fd7e7e;
}

.light {
    --colorPrimary: #f0f9ff; 
    --colorPrimarySecondary: #f3f0ffad; 
    --colorPrimaryTertiary: #dbd7ff; 
    --colorSecondary: #0b111a; 
    --colorBlue: #85a5fdb4; 
    --colorRed: #ff5c5c;
}

* {
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    margin: 0;
    background-color: var(--colorPrimary);
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    color: var(--colorSecondary);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: var(--colorSecondary);
}

a:hover {
    text-decoration: none;
}

svg, .svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
    box-sizing: content-box;
}

p {
    width: 100%;
}

h1, #title {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0.6rem 0;
    padding-top: 7rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.4rem 0
}

h3, h3 > * {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.2rem 0;
}

h4 {
    margin: 0.5rem 0;
}

.secondary-border {
    border: 0.2rem solid var(--colorSecondary);
    border-radius: 50%;
}

.box-content {
    border: 0.15rem solid var(--colorBlue);
    background-color: var(--colorPrimarySecondary);
    border-radius: 20px;
    padding: 1.5rem 2rem;
}

.box-content p {
    font-family:monospace;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin: 0 0 0.4em;
}

#title {
    font-size: 3.0rem;
}

header {
    position: fixed;
    margin: 1rem 0 0 2rem;
    width: 100%;
}

header #theme-switch {
    display: none;
}

header #theme-toggle label {
    display: none;
}

header #theme-toggle label.visible {
    display: block;
}

header #theme-toggle label svg{
    padding: 0.3rem;
    backdrop-filter: blur(2px);
    border-width: 0.1rem;
}

header #theme-toggle label {
    width: fit-content;
}

header #theme-toggle label:hover {
    cursor: pointer;
}

#title-card, #about-me, #tools-and-skills, #my-projects, #contact-me {
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 1rem;
}

#title-card {
    text-align: center;
}

#title-card > img {
    display: none;
    max-width: 400px;
}

#self-descriptor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#self-descriptor span {
    color: var(--colorRed);
}

#self-descriptor img {
    width: 200px;
    margin: 0 auto;
}

#about-me {
    align-items: center;
}

#tools-and-skills {
    gap: 1rem;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: fit-content;
}

#tools-and-skills .box-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 21rem;
    gap: 0.4em;
}

a.item {
    text-decoration: none;
    transition: scale 0.1s ease;
}

a.item:hover {
    scale: 1.05;
}

.item {
    background-color: var(--colorPrimaryTertiary);
    border-radius: 10px;
    padding: 0.5rem 0.7rem;
    min-width: max-content;
    max-height: min-content;
    display: flex;
    align-items: center;
}

#my-projects {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.project-category {
    margin-top: 2rem;
}

.project {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 0.2rem;
    width: fit-content;
    height: fit-content;
    margin-top: 2rem;
}

.project .project-image, .project .box-content, .used-tools {
    max-width: 16rem;
    width: 100%;
    border-radius: 20px;
}

.project .box-content p {
    font-size: 1.5rem;
}

.project .project-image {
    object-fit: cover;
    aspect-ratio: 1;
}

.project .box-content div:first-of-type {
    margin-top: 0.5rem;
}

.used-tools {
    display: flex;
    width: fit-content;
    margin: 1rem 0;
    padding: 0.3rem 0 0.3rem 0.5rem;
    background-color: var(--colorPrimaryTertiary);
}

.project svg, footer svg {
    transition: all 0.1s ease;
}

.project svg:hover, footer svg:hover {
    scale: 1.3;
    stroke: var(--colorRed);
}

.project a {
    text-decoration: none;
}

#contact-me div {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 4rem 0 1rem 0;
}


@media screen and (min-width: 420px) {

    main {
        padding: 0 2rem;
    }

    svg, .svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    #title {
        font-size: 3.5rem;
    }

    .project .project-image, .project .box-content, .used-tools {
        max-width: 20rem;
    }
}


@media screen and (min-width: 800px) {

    #title-card {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        width: 100%;
    }

    #about-me, #tools-and-skills, #my-projects, #contact-me {
        text-align: center;
    }

    #title-card > img {
        display: block;
        width: 50%;
        margin-top: 6rem;
    }

    #self-descriptor {
        width: 50%;
    }

    #self-descriptor img {
        display: none;
    }

    #tools-and-skills {
        max-height: 50rem;
    }

    #contact-me {
        align-items: center;
    }

    #contact-me div{
        width: 60%;
    }
}


@media screen and (min-width: 1000px) {

    main {
        padding: 0 5rem;
    }

    * {
        font-size: 1.1rem;
    }
}


@media screen and (min-width: 1400px) {
    #tools-and-skills {
        max-height: 40rem;
    }
}


@media screen and (min-width: 1800px) {
    #tools-and-skills {
        max-height: 30rem;
    }
}


@media screen and (min-width: 2200px) {

    * {
        font-size: 1.2rem;
    }

    .project .project-image, .project .box-content, .used-tools {
        max-width: 25rem;
    }
}