* {
    box-sizing: border-box;
    font-size: 1rem;
}

/* Colors */
:root {
    --colorPrimary: #0b111a;
    --colorPrimarySecondary: #0e0729d2;
    --colorPrimaryTertiary: #211f31;
    --colorPrimaryQuaternary: #2a2d36;
    --colorPrimaryQuinternary: #434753;
    --colorSecondary: #def1ff;
    --colorBlue: #2559e7b4;
    --colorBlueSecondary: #346fc7;
    --colorRed: #fd7e7e;
    --colorNone: #ffffff00;
}

.light {
    --colorPrimary: #f0f9ff; 
    --colorPrimarySecondary: #f3f0ffad; 
    --colorPrimaryTertiary: #dbd7ff; 
    --colorPrimaryQuaternary: #aab9e6;
    --colorPrimaryQuinternary: #c5d1f7;
    --colorSecondary: #0b111a; 
    --colorBlue: #85a5fdb4; 
    --colorBlueSecondary: #4088f3;
    --colorRed: #ff5c5c;
}

/* -Body- */
body {
    margin: 0;
    background-color: var(--colorPrimary);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: max-content;
    color: var(--colorSecondary);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* General Clickables */
a {
    color: var(--colorSecondary);
}

a:hover {
    text-decoration: none;
}

label:hover {
    cursor: pointer;
}

label, button {
    user-select: none;
}

/* Svgs */
svg, .svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
    box-sizing: content-box;
}

/* Text Areas */
p {
    width: 100%;
}

#title {
    font-size: 3.0rem;
}

h1, #title {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0.6rem 0;
    padding-top: 7rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.4rem 0
}

h3, h3 > * {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.2rem 0;
}

h4 {
    margin: 0.5rem 0;
}

/* -General Elements- */
.secondary-border {
    border: 0.2rem solid var(--colorSecondary);
    border-radius: 50%;
}

.box-content {
    border: 0.15rem solid var(--colorBlue);
    background-color: var(--colorPrimarySecondary);
    border-radius: 20px;
    padding: 1.5rem 2rem;
}

.box-content p {
    font-family:monospace;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin: 0 0 0.4em;
}

.mobile {
    display: flex;
}

.desktop {
    display: none;
}

/* -Header- */
header {
    position: fixed;
    display: flex;
    align-items: top;
    margin: 1rem 2rem 0 2rem;
    width: 100%;
}

/* Theme Toggle */
header #theme-switch {
    display: none;
}

header #theme-toggle label {
    display: none;
}

header #theme-toggle label.visible {
    display: block;
}

header #theme-toggle label svg{
    padding: 0.5rem;
    backdrop-filter: blur(10px);
    border-width: 0.1rem;
}

header #theme-toggle label {
    width: fit-content;
}

/* Navigation Bar */
header #navigation {
    margin-left: auto;
    margin-right: 4rem;
}

header #navigation .mobile {
    box-sizing: content-box;
    flex-direction: column;
}

header #navigation .mobile label {
    display: flex;
    width: fit-content;
    margin-left: auto;
}

header #navigation .mobile label svg {
    padding: 0.5rem;
    backdrop-filter: blur(10px);
    border: 0.1rem solid var(--colorBlue);
    border-radius: 50%;
    margin-right: 0;
}

header #navigation .mobile label > button {
    display: none;
}

header #navigation .mobile #nav-dropdown-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: var(--colorNone);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0.7rem 0;
    border-width: 0.1rem;
    margin-top: 0.5rem;
}

header #navigation .mobile #nav-dropdown-menu.show{
    display: flex;
}

header #navigation .mobile #nav-dropdown-menu button{
    background-color: var(--colorNone);
    border: none;
    color: var(--colorSecondary);
    width: 9rem;
    height: 1.7rem;
}

header #navigation .desktop{
    background-color: var(--colorNone);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 1rem 1rem;
}


header #navigation .desktop button {
    background-color: var(--colorNone);
    color: var(--colorSecondary);
    border: none;
    padding: 0 1rem;
}

/* --Main Parts-- */
#title-card, #about-me, #tools-and-skills, #my-projects, #contact-me {
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 1rem;
}

/* -Title Card- */
#title-card {
    text-align: center;
}

#title-card > img {
    display: none;
    max-width: 400px;
}

#self-descriptor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#self-descriptor span {
    color: var(--colorRed);
}

#self-descriptor img {
    width: 200px;
    margin: 0 auto;
}

/* -About Me- */
#about-me {
    align-items: center;
}

/* -Tools and Skills- */
#tools-and-skills {
    gap: 1rem;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: fit-content;
}

#tools-and-skills .box-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 21rem;
    gap: 0.4em;
}

a.item {
    text-decoration: none;
    transition: scale 0.1s ease;
}

a.item:hover {
    scale: 1.05;
}

.item {
    background-color: var(--colorPrimaryTertiary);
    border-radius: 10px;
    padding: 0.5rem 0.7rem;
    min-width: max-content;
    max-height: min-content;
    display: flex;
    align-items: center;
}

/* -My Projects- */
#my-projects {
    flex-direction: column;
    align-items: center;
}

/* Category Selector */
#category-selector {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

#category-selector {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

#category-selector label {
    transform: translateY(0.1rem);
}

#category-selector label:first-of-type {
    transform: translate(0.6rem, 0.1rem);
}

#category-selector label button {
    display: none;
}

#category-selector label svg {
    width: 2rem;
    height: 2rem;
}

button.selector-option {
    width: 20px;
    height: 20px;
    background-color: var(--colorPrimaryQuaternary);
    border-radius: 50%;
    border: none;
    transition: all 0.1s ease;
}

button.selector-option:hover {
    background-color: var(--colorPrimaryQuinternary);
    cursor: pointer;
}

button.selected-option, button.selected-option:hover{
    background-color: var(--colorBlueSecondary);
    transition: all 0.2s ease;
}

/* Project Category */
.project-category {
    display: none;
    flex-direction: column;
    align-items: center;
}

.project-category.active-category {
    display: flex;
}

.project-category .projects-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

/* Project */
.project {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 0.2rem;
    width: fit-content;
    height: fit-content;
    margin-top: 2rem;
}

.project .project-image, .project .box-content, .used-tools {
    max-width: 16rem;
    width: 100%;
    border-radius: 20px;
}

.project .box-content p {
    font-size: 1.5rem;
}

.project .project-image {
    object-fit: cover;
    aspect-ratio: 1;
}

.project .box-content div:first-of-type {
    margin-top: 0.5rem;
}

.used-tools {
    display: flex;
    width: fit-content;
    margin: 1rem 0;
    padding: 0.3rem 0 0.3rem 0.5rem;
    background-color: var(--colorPrimaryTertiary);
}

.project svg, footer svg {
    transition: all 0.1s ease;
}

.project svg:hover, footer svg:hover {
    scale: 1.3;
    stroke: var(--colorRed);
}

.project a {
    text-decoration: none;
}

/* -Contact Me- */
#contact-me div {
    display: flex;
}

#contact-me > div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* -Footer- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 4rem 0 1rem 0;
}


/* -Media Queries- */
@media screen and (min-width: 420px) {

    main {
        padding: 0 2rem;
    }

    svg, .svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    #title {
        font-size: 3.5rem;
    }

    .project .project-image, .project .box-content, .used-tools {
        max-width: 20rem;
    }
}


@media screen and (min-width: 800px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    #title-card {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        width: 100%;
    }

    #title-card > img {
        display: block;
        width: 50%;
        margin-top: 6rem;
    }

    #self-descriptor {
        width: 50%;
    }

    #self-descriptor img {
        display: none;
    }

    #tools-and-skills {
        max-height: 50rem;
    }
}


@media screen and (min-width: 1000px) {

    main {
        padding: 0 5rem;
    }

    * {
        font-size: 1.1rem;
    }
}


@media screen and (min-width: 1400px) {
    #tools-and-skills {
        max-height: 40rem;
    }
}


@media screen and (min-width: 1800px) {
    #tools-and-skills {
        max-height: 30rem;
    }
}


@media screen and (min-width: 2200px) {

    * {
        font-size: 1.2rem;
    }

    .project .project-image, .project .box-content, .used-tools {
        max-width: 25rem;
    }
}