<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.my_name }}</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div id="theme-toggle">
            <label for="theme-switch"><img src="images/svgs/{{ site.data.svgs.other.Sun.image_file }}" alt="" class="svg secondary-border"></label>
            <input type="checkbox" id="theme-switch" name="theme-switch">
        </div>
        <div id="navigation">

        </div>
    </header>
    <main>
        {{ content }}
    </main>
    <script src="theme_switch.js"></script>
</body>
</html>