        <div id="about-me">
            <h1>
                About Me
            </h1>
            <p>
                Hey there! I'm a junior software developer based in Uppsala, Sweden. 
                I have great interest in a lot of tech related things, most distinct one being video games.
                My projects so far have mostly been web-based using HTML, CSS and JavaScript, 
                but I have also made a bunch of smaller game-projects using Python and C#.
            </p>
            <h1>
                Tools & Skills
            </h1>
            <p>
                These are all the tools I have experience with and skills I have gathered throughout my years of education and work
            </p>
            <div id="tools-and-skills">
                {%- for tool_category in site.data.svgs.tool_categories %}
                <div class="box-content">
                    <p>
                        {{ tool_category.category }}
                    </p>
                    {%- for tool in tool_category.tools %}
                    {%- if tool.link %}
                    <a href="{{ tool.link }}" target="_blank" class="item">
                        <img src="images/svgs/{{ tool.image_file }}" alt="" class="svg">
                        {%- if tool.license %}
                        <!-- {{ tool.license }} -->
                        {%- endif %}
                        {{ tool.title }}
                    </a>
                    {%- else -%}
                    <div class="item">
                        <img src="images/svgs/{{ tool.image_file }}" alt="" class="svg">
                        {%- if tool.license %}
                        <!-- {{ tool.license }} -->
                        {%- endif %}
                        {{ tool.title }}
                    </div>
                    {%- endif %}
                    {%- endfor %}
                </div>
                {%- endfor %}
            </div>
        </div>