<div id="about-me">
    <h1>
        About Me
    </h1>
    <p>
        Hey there! I'm a junior software developer based in Uppsala, Sweden. 
        I have great interest in alot of tech related things, most distinct one being video games. 
        My projects so far have mostly been web-based using HTML, CSS and JavaScript, 
        but I have also made a bunch of smaller game-projects using Python and C#.
    </p>
    <h1>
        Tools & Skills
    </h1>
    <p>
        These are all the tools I have experience with and skills I have gathered throughout my years of education and work
    </p>
    <div id="tools-and-skills">
        <div class="box-content">
            <p>
                Programming Languages
            </p>
            <div class="item">
                <img src="images/svgs/html.svg" alt="" class="svg">
                <!-- svg icon from https://www.svgrepo.com/svg/452228/html-5. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                HTML
            </div>
            <div class="item">
                <img src="images/svgs/css.svg" alt="" class="svg">
                <!-- svg icon from https://www.svgrepo.com/svg/373535/css. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                CSS
            </div>
            <div class="item">
                <img src="images/svgs/js.svg" alt="" class="svg">
                <!-- svg icon from https://www.svgrepo.com/svg/349419/javascript. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                JavaScript
            </div>
            <div class="item">
                <img src="images/svgs/py.svg" alt="" class="svg">
                <!-- svg icon from https://www.svgrepo.com/svg/452091/python. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                Python
            </div>
        </div>
        <div class="box-content">
            <p>
                Databases and Backend
            </p>
            <div class="item">
                <img src="images/svgs/supabase.svg" alt="" class="svg">
                Supabase
            </div>
            <div class="item">
                <img src="images/svgs/expressjs.svg" alt="" class="svg">
                Express.js
            </div>
        </div>
        <div class="box-content">
            <p>
                Professional Skills
            </p>
            <div class="item">
                <img src="images/svgs/git.svg" alt="" class="svg">
                <!-- svg icon from https://www.svgrepo.com/svg/452210/git. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                Git
            </div>
            <div class="item">
                <img src="images/svgs/problem_solving.svg" alt="" class="svg">
                <!-- svg icon from https://www.svgrepo.com/svg/323073/puzzle. CC-BY license. https://www.svgrepo.com/page/licensing/#CC%20Attribution -->
                Problem Solving
            </div>
            <div class="item">
                <img src="images/svgs/team_collaboration.svg" alt="" class="svg">
                <!-- svg icon from https://www.svgrepo.com/svg/335405/group. MIT license. https://www.svgrepo.com/page/licensing/#MIT -->
                Team Collaboration
            </div>
        </div>
    </div>
</div>