<div id="contact-me">
    <h1>
        Get in Touch
    </h1>
    <p>
        I'm always open to discussing new projects and creative ideas.
    </p>
    <div>
        <img src="images/svgs/mail.svg" alt="" class="svg">
        <!-- svg icon from https://www.svgrepo.com/svg/521736/mail. CC-BY license. https://www.svgrepo.com/page/licensing/#CC%20Attribution -->
        <a href="mailto:oliverskoldberg.dev@gmail.com" target="_blank">oliverskoldberg.dev@gmail.com</a>
    </div>
    <div>
        <img src="images/svgs/location.svg" alt="" class="svg">
        <!-- svg icon from https://www.svgrepo.com/svg/449138/location. Apache license. https://www.svgrepo.com/page/licensing/#Apache -->
        <a href="https://www.google.com/maps/place/Knivsta" target="_blank">Knivsta, Uppsala, Sweden</a>
    </div>
</div>