        <div id="contact-me">
            <h1>
                Get in Touch
            </h1>
            <p>
                I'm always open to discussing new projects and creative ideas.
            </p>
            <div>
                {{ site.data.svgs.other.Mail.svg }}
                <!-- site.data.svgs.other.Mail.license -->
                <a href="mailto:oliverskoldberg.dev@gmail.com" target="_blank">oliverskoldberg.dev@gmail.com</a>
            </div>
            <div>
                {{ site.data.svgs.other.Location.svg }}
                <!-- site.data.svgs.other.Location.license -->
                <a href="https://www.google.com/maps/place/Knivsta" target="_blank">Knivsta, Uppsala, Sweden</a>
            </div>
        </div>