        <div id="my-projects">
            <h1>
                Projects
            </h1>
            <p>
                These are all the projects I have been a part of and contributed to
            </p>
            <div id="category-selector">
                <label>
                    {{ site.data.svgs.other.ArrowLeft.svg }}
                    <button id="arrow-previous"></button>
                </label>
                {%- assign i = -1 -%}
                {%- for project_category in site.data.project_categories %}
                {%- assign i = i | plus: 1 %}
                <button value="{{ i }}" class="selector-option {% if i == 0 -%}selected-option{%- endif -%}"></button>
                {%- endfor %}
                <label>
                    {{ site.data.svgs.other.ArrowRight.svg }}
                    <button id="arrow-next"></button>
                </label>
            </div>
            {% for project_category in site.data.project_categories %}
            <div class="project-category {% if project_category == site.data.project_categories[0] -%}active-category{%- endif -%}">
                <h2>
                    {{ project_category.category }}
                </h2>
                <div class="projects-box">
                    {%- for project in site.data.projects %}
                    {%- if project_category.projects contains project.title %}
                    <div class="project">
                        <div class="box-content">
                            <p>
                                {{ project.title }}
                            </p>
                            <h4>
                                {{ project.time }}
                            </h4>
                            <img src="images/project_images/{{ project.image_file }}" alt="" class="project-image">
                            <div>
                                {{ project.desc }}
                            </div>
                            <div class="used-tools">
                                {%- for tool_category in site.data.svgs.tool_categories -%}
                                {%- for tool in tool_category.tools -%}
                                {%- if project.used_tools contains tool.key %}
                                <img src="images/svgs/{{ tool.image_file }}" alt="" class="svg">
                                {%- if tool.license %}
                                <!-- {{ tool.license }} -->
                                {%- endif %}
                                {%- endif %}
                                {%- endfor -%}
                                {%- endfor -%}
                            </div>
                            <div class="links">
                                {%- if project.github_link %}
                                <a href="{{ project.github_link }}" target="_blank">
                                    {{ site.data.svgs.other.GitHub.svg }}
                                </a>
                                <!-- site.data.svgs.other.GitHub.license -->
                                {%- endif %}
                                {%- if project.project_link %}
                                <a href="{{ project.project_link }}" target="_blank">
                                    {{ site.data.svgs.other.OpenLink.svg }}
                                </a>
                                {%- endif %}
                            </div>
                        </div>
                    </div>
                    {%- endif -%}
                    {%- endfor %}
                </div>
            </div>
            {%- endfor %}
        </div>