<div id="title-card">
            <div id="self-descriptor">
                <div id="title">
                    {{ page.my_name | upcase }}
                </div>
                <img class="secondary-border" src="images/self_dark.jpg" alt="">
                <h2>
                </h2>
                <h3>
                    Hi, I'm <span>{{ page.my_name }}</span>, a Swedish programming- and tech enthusiast
                </h3>
            </div>
            <img class="secondary-border" src="images/self_dark.jpg" alt="">
        </div>